# python_P1

Federal Aviation Administration(إدارة الطيران الفيدرالية)

the linke : https://wildlife.faa.gov/

#### 1_ view :

1 aircraft manufacturer

2 state

3 model

4 Airport

5 flight phase

6 Flight Impact

#### 2_ clean the data set and replace the fatal flag NAN with No(the nulls)

#### 3_remove all observations when aircraft names are not available

#### 4_find the diffrence type of aircrafts and their occurrences(dublicats)

####  5_explore the flight impact

#### 6_veiw the flight impact with PRECAUTIONARY lANDING

In [32]:
import numpy as np
import pandas as pd

In [33]:
# reading the FAA dataset
df_faa=pd.read_csv('database.csv')

C:\Users\lenovo ideapad130\AppData\Local\Temp\ipykernel_26736\151842801.py:2: DtypeWarning: Columns (9,12,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_faa=pd.read_csv('database.csv')

In [34]:
df_faa.shape

(174104, 66)

In [35]:
df_faa.head()

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_faa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174104 entries, 0 to 174103
Data columns (total 66 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Record ID             174104 non-null  int64
 1   Incident Year         174104 non-null  int64
 2   Incident Month        174104 non-null  int64
 3   Incident Day          174104 non-null  int64
 4   Operator ID           174104 non-null  object
 5   Operator              174104 non-null  object
 6   Aircraft              174104 non-null  object
 7   Aircraft Type         133074 non-null  object
 8   Aircraft Make         131051 non-null  object
 9   Aircraft Model        122439 non-null  object
 10  Aircraft Mass         127320 non-null  float64
 11  Engine Make           123434 non-null  float64
 12  Engine Model          121988 non-null  object
 13  Engines               127342 non-null  float64
 14  Engine Type           127282 non-null  object
 15  Engine1 Position      126193 non-null  object
 16  Engine2 Position      118715 non-null  float64
 17  Engine3 Position      11659 non-null   object
 18  Engine4 Position      3092 non-null    float64
 19  Airport ID            174104 non-null  object
 20  Airport               173814 non-null  object
 21  State                 152128 non-null  object
 22  FAA Region            155202 non-null  object
 23  Warning Issued        76418 non-null   object
 24  Flight Phase          118802 non-null  object
 25  Visibility            109933 non-null  object
 26  Precipitation         88322 non-null   object
 27  Height                103677 non-null  float64
 28  Speed                 71258 non-null   float64
 29  Distance              99713 non-null   float64
 30  Species ID            174104 non-null  object
 31  Species Name          174024 non-null  object
 32  Species Quantity      169627 non-null  object
 33  Flight Impact         99465 non-null   object
 34  Fatalities            565 non-null     float64
 35  Injuries              229 non-null     float64
 36  Aircraft Damage       174104 non-null  int64
 37  Radome Strike         174104 non-null  int64
 38  Radome Damage         174104 non-null  int64
 39  Windshield Strike     174104 non-null  int64
 40  Windshield Damage     174104 non-null  int64
 41  Nose Strike           174104 non-null  int64
 42  Nose Damage           174104 non-null  int64
 43  Engine1 Strike        174104 non-null  int64
 44  Engine1 Damage        174104 non-null  int64
 45  Engine2 Strike        174104 non-null  int64
 46  Engine2 Damage        174104 non-null  int64
 47  Engine3 Strike        174104 non-null  int64
 48  Engine3 Damage        174104 non-null  int64
 49  Engine4 Strike        174104 non-null  int64
 50  Engine4 Damage        174104 non-null  int64
 51  Engine Ingested       174104 non-null  int64
 52  Propeller Strike      174104 non-null  int64
 53  Propeller Damage      174104 non-null  int64
 54  Wing or Rotor Strike  174104 non-null  int64
 55  Wing or Rotor Damage  174104 non-null  int64
 56  Fuselage Strike       174104 non-null  int64
 57  Fuselage Damage       174104 non-null  int64
 58  Landing Gear Strike   174104 non-null  int64
 59  Landing Gear Damage   174104 non-null  int64
 60  Tail Strike           174104 non-null  int64
 61  Tail Damage           174104 non-null  int64
 62  Lights Strike         174104 non-null  int64
 63  Lights Damage         174104 non-null  int64
 64  Other Strike          174104 non-null  int64
 65  Other Damage          174104 non-null  int64
dtypes: float64(10), int64(34), object(22)
memory usage: 87.7+ MB

In [37]:
df_faa.columns

Index(['Record ID', 'Incident Year', 'Incident Month', 'Incident Day',
       'Operator ID', 'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
       'Aircraft Model', 'Aircraft Mass', 'Engine Make', 'Engine Model',
       'Engines', 'Engine Type', 'Engine1 Position', 'Engine2 Position',
       'Engine3 Position', 'Engine4 Position', 'Airport ID', 'Airport',
       'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
       'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
       'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
       'Injuries', 'Aircraft Damage', 'Radome Strike', 'Radome Damage',
       'Windshield Strike', 'Windshield Damage', 'Nose Strike', 'Nose Damage',
       'Engine1 Strike', 'Engine1 Damage', 'Engine2 Strike', 'Engine2 Damage',
       'Engine3 Strike', 'Engine3 Damage', 'Engine4 Strike', 'Engine4 Damage',
       'Engine Ingested', 'Propeller Strike', 'Propeller Damage',
       'Wing or Rotor Strike', 'Wing or Rotor Damage', 'Fuselage Strike',
       'Fuselage Damage', 'Landing Gear Strike', 'Landing Gear Damage',
       'Tail Strike', 'Tail Damage', 'Lights Strike', 'Lights Damage',
       'Other Strike', 'Other Damage'],
      dtype='object')

In [38]:
#filtering the data by the required columns
df_faa=df_faa[['Aircraft','State','Aircraft Model','Airport','Flight Phase','Flight Impact']]

In [39]:
df_faa.head()

,Aircraft,State,Aircraft Model,Airport,Flight Phase,Flight Impact
0,B-757-200,KY,26,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,CLIMB,NaN
1,DC-9,HI,90,LIHUE ARPT,TAKEOFF RUN,NaN
2,UNKNOWN,HI,NaN,LIHUE ARPT,NaN,NaN
3,A-10A,SC,NaN,MYRTLE BEACH INTL,APPROACH,NaN
4,F-16,FL,NaN,JACKSONVILLE INTL,CLIMB,NaN

In [48]:
# replace the fatal flag NAN with No
dff=df_faa.fillna('no')
dff.head()

,Aircraft,State,Aircraft Model,Airport,Flight Phase,Flight Impact
0,B-757-200,KY,26,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,CLIMB,no
1,DC-9,HI,90,LIHUE ARPT,TAKEOFF RUN,no
2,UNKNOWN,HI,no,LIHUE ARPT,no,no
3,A-10A,SC,no,MYRTLE BEACH INTL,APPROACH,no
4,F-16,FL,no,JACKSONVILLE INTL,CLIMB,no

In [49]:
dff.shape

(174104, 6)

In [57]:
# remove all observations when aircraft names are not available
dff1=dff.dropna(subset=['Aircraft'])

In [58]:
dff1.shape # all the observations are available

(174104, 6)

In [69]:
# group the dataset by Aircraft
AircraftType=dff1.groupby('Aircraft')

In [71]:
AircraftType.size()
# you can see list of all Aircrafts types and the nuber of times they appeard in the data set

Aircraft
A-10               6
A-10A            132
A-300           2953
A-310            699
A-318            138
                ...
WC-135             2
WC-135B            1
WC-135C            4
WC-135W            2
ZODIAC CH601       1
Length: 656, dtype: int64

In [77]:
FlightImpact=dff1.groupby('Flight Impact')

In [78]:
FlightImpact.size()

Flight Impact
ABORTED TAKEOFF           2352
ENGINE SHUT DOWN           248
ENGINE SHUTDOWN            215
NONE                     88082
OTHER                     2423
PRECAUTIONARY LANDING     6145
no                       74639
dtype: int64

In [94]:
# Flight Impact with PRECAUTIONARY LANDING
PRECAUTIONARY_lANDING=FlightImpact.get_group('PRECAUTIONARY LANDING')

In [95]:
# veiw the flight impact with PRECAUTIONARY lANDING
PRECAUTIONARY_lANDING

,Aircraft,State,Aircraft Model,Airport,Flight Phase,Flight Impact
12,HAWKER-SDLY HS125,TN,30,JOHN C TUNE ARPT,TAKEOFF RUN,PRECAUTIONARY LANDING
14,B-737-300,LA,24,LOUIE ARMSTRONG NEW ORLEANS INTL ARPT,TAKEOFF RUN,PRECAUTIONARY LANDING
31,BE-36,no,8,UNKNOWN,CLIMB,PRECAUTIONARY LANDING
53,B-737,CA,95,SACRAMENTO INTL,TAKEOFF RUN,PRECAUTIONARY LANDING
90,SA227 AC METRO III,MO,7,LAMBERT-ST LOUIS INTL,CLIMB,PRECAUTIONARY LANDING
...,...,...,...,...,...,...
173985,EC135,no,5.0,no,EN ROUTE,PRECAUTIONARY LANDING
174027,B-737-500,FL,33.0,FORT LAUDERDALE/HOLLYWOOD INTL,CLIMB,PRECAUTIONARY LANDING
174030,BELL-206,no,4.0,no,EN ROUTE,PRECAUTIONARY LANDING
174033,EXPERIMENTAL,no,3.0,no,EN ROUTE,PRECAUTIONARY LANDING
174058,BE-400 BJET,MN,32.0,ROCHESTER INTL,CLIMB,PRECAUTIONARY LANDING

Check if the database is unique
data['ID'].count(),
for col in data.columns:
    print(col,len(data[col])),
data['Country'].duplicated()